.frame{
    text-align: center;
}

.border{
    /* height: max-content; */
    width: 200px;
    /* border: black 2px solid; */
    margin-left: 43%;
    background-color: #4e20b8;
    border-radius: 5px;
}

textarea{
    margin-top: 10px;
    background-color: #0A1172;
    color: white;
}

.keypad{
    padding-bottom: 20px;
}

.buttons{
    margin-top: 10px;
    border-radius: 5px;
}


button{
    width: 40px;
    height: 40px;
    background-color: #7856c7;
    border-radius: 5px;
    animation: none;
    color: white;
}

